<html>
    <head>
       <title>Support & non-cash Gift</title>
 
       <style>
           body{
background-image: url("http://www.technocrazed.com/wp-content/uploads/2015/12/Blue-Wallpaper-For-Background-11.png");
background-attachment: fixed;
background-size: 100% 100%;

}


input[type=text], select, textarea,input[type=number] {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:auto;
border: 10px solid black;
width:700px;
}
ul{
    list-style:none;
}
h1{
    font-family:"impact";
    font-size:50px;
    
}
label{
    font-size:25px;
}
#one{
    font-size:20px;

}
           </style>
    </head>
<body>
    <h1 align="center">Support & Non-Cash Gift</h1>
    <div class="container">
        <form method = "post">
      
          <label for="fname">Name</label>
          <input type="text" id="fname" name="name" placeholder="Your name">
      
          <label for="lname">Address</label>
          <input type="text" id="lname" name="address" placeholder="Address">
      
          <label for="email">Email-Id</label>
          <input type="text" id="email" name="email" placeholder="Email-Id">
          
      <label for="phone">Your Contact Number</label>   
      <input type="number" id="phone" name="phn" placeholder="Phone Number">
      
      <label >Donation by Kind</label>   
        </br></br>
      <div style="height:120px;width:700px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;background-color:white;">
        <label id="one">Support & Donate</label>
       <ul>
           <li><input type="checkbox" name ="it" value = "clg & professional course fee">College or professional course fee for deserving student</li>
           <li><input type="checkbox"name ="it" value = "Living & Medical Expenses">Living & Medical Expenses</li>
           <li><input type="checkbox"name ="it" value = "Support for mentally challenged">Support for mentally challenged child & adult</li>
           <li><input type="checkbox"name ="it" value = "Sanitary Pads for women">Sanitary Pads for women</li>
           <li><input type="checkbox"name ="it" value = "Maternal Care">Maternal Care</li>
           <li><input type="checkbox"name ="it" value = "School kits, Hygiene kits, Medical kits">School kits, Hygiene kits, Medical kits</li>
           <li><input type="checkbox"name ="it" value ="Blind kit, Braille books">Blind kit, Braille books</li>
           <li><input type="checkbox"name ="it" value ="Poor patient fighting cancer">Poor patient fighting cancer</li>
       </ul>
        </div></br>
        <div style="height:120px;width:700px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;background-color:white;">
            <label id="one">Physical Goods</label>
           <ul>
               <li><input type="checkbox"name ="it" value ="Clothing">Clothing</li>
               <li><input type="checkbox"name ="it" value ="Shoes">Shoes</li>
               <li><input type="checkbox"name ="it" value ="Furniture">Furniture</li>
               <li><input type="checkbox"name ="it" value ="Office equpments like Computer, Printer etc">Office equpments like Computer, Printer etc.</li>
               <li><input type="checkbox"name ="it" value ="Tools for education">Tools for education</li>
               <li><input type="checkbox"name ="it" value ="Medicines, Multi Vitamins">Medicines, Multi Vitamins</li>
           </ul>
            </div>
        </br>
            <div style="height:120px;width:700px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;background-color:white;">
                <label id="one">Professional Services</label>
               <ul>
                   <li><input type="checkbox"name ="it" value ="Account">Account</li>
                   <li><input type="checkbox"name ="it" value ="Legal">Legal</li>
                   <li><input type="checkbox"name ="it" value ="Medical">Medical</li>
                   
               </ul>
                </div>
            </br>
                <div style="height:120px;width:700px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;background-color:white;">
                    <label id="one">Food</label>
                   <ul>
                       <li><input type="checkbox"name ="it" value ="Langars, Bhandaaraas">Langars, Bhandaaraas</li>
                       <li><input type="checkbox"name ="it" value ="Milk,nutritional food">Milk,nutritional food</li>
                       <li><input type="checkbox"name ="it" value ="Basic commodities">Basic commodities</li>
                       <li><input type="checkbox"name ="it" value ="Supplements">Supplements</li>
                       
                   </ul>
                    </div>
                </br>
                    <div style="height:120px;width:700px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;background-color:white;">
                        <label id="one">Gift Education</label>
                       <ul>
                           <li><input type="checkbox"name ="it" value ="For underprivileged child">For underprivileged child</li>
                           <li><input type="checkbox"name ="it" value ="For Adults">For Adults</li>
                           <li><input type="checkbox"name ="it" value ="For children">For children</li>
                           <li><input type="checkbox"name ="it" value ="For women">For women</li>
                           
                       </ul>
                        </div>
                    </textarea>
          <label for="subject"></label>
          <textarea id="subject" name="it" placeholder="Any other things you want to donate.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      
      </div>
</body>
</html>
